# Fetch Rewards Coding Exercise - Data Analyst

## SQL setup and data cleansing

Install pandas sqlalchemy to attempt to sql query in juypter, we will be using sqlite

In [1]:
pip install pandas sqlalchemy

Requirement already satisfied: pandas in c:\users\18607\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: sqlalchemy in c:\users\18607\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: numpy>=1.17.3 in c:\users\18607\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\18607\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\18607\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\18607\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\users\18607\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Install libraries

In [2]:
import pandas as pd
import json
import sqlite3
import gzip
import shutil
from pandas.io.json import json_normalize

Open compressed json files using gzip library, then open json files saving the file to df using json library. Finally convert df to a dataframe and name it using pandas

Sources: 

gz code source:
https://stackoverflow.com/questions/31028815/how-to-unzip-gz-file-using-python

json errors: 
https://twittercommunity.com/t/json-files-downloaded-via-searchtweets-returning-errors-i-havent-received-using-json-files-from-twurl/126025/5

In [3]:
with gzip.open('receipts.json.gz', 'rb') as f_in:
    with open('receipts.json', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

with open('receipts.json') as f:
    receipts = pd.DataFrame(json_normalize([json.loads(line) for line in f.readlines()]))

C:\Users\18607\AppData\Local\Temp/ipykernel_15432/1481673534.py:6: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  receipts = pd.DataFrame(json_normalize([json.loads(line) for line in f.readlines()]))

In [4]:
with gzip.open('users.json.gz', 'rb') as f_in:
    with open('users.json', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

with open('users.json') as f:
    users = pd.DataFrame(json_normalize([json.loads(line) for line in f.readlines()]))

C:\Users\18607\AppData\Local\Temp/ipykernel_15432/3118945643.py:6: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  users = pd.DataFrame(json_normalize([json.loads(line) for line in f.readlines()]))

In [5]:
with gzip.open('brands.json.gz', 'rb') as f_in:
    with open('brands.json', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

with open('brands.json') as f:
    brands = pd.DataFrame(json_normalize([json.loads(line) for line in f.readlines()]))

C:\Users\18607\AppData\Local\Temp/ipykernel_15432/2916989338.py:6: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  brands = pd.DataFrame(json_normalize([json.loads(line) for line in f.readlines()]))

Check to make sure it worked and then begin data cleansing, will be using the receipts file

In [6]:
receipts.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,_id.$oid,createDate.$date,dateScanned.$date,finishedDate.$date,modifyDate.$date,pointsAwardedDate.$date,purchaseDate.$date
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,5.0,All-receipts receipt bonus,5,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
3,5.0,All-receipts receipt bonus,5.0,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12
4,5.0,All-receipts receipt bonus,5.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12

Check the data type of each column then check for null values

In [21]:
receipts.info()
print(receipts.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bonusPointsEarned        544 non-null    float64
 1   bonusPointsEarnedReason  1119 non-null   object
 2   pointsEarned             609 non-null    float64
 3   purchasedItemCount       635 non-null    float64
 4   rewardsReceiptItemList   1119 non-null   object
 5   rewardsReceiptStatus     1119 non-null   object
 6   totalSpent               684 non-null    float64
 7   userId                   1119 non-null   object
 8   _id.$oid                 1119 non-null   object
 9   createDate.$date         1119 non-null   int64
 10  dateScanned.$date        1119 non-null   int64
 11  finishedDate.$date       568 non-null    float64
 12  modifyDate.$date         1119 non-null   int64
 13  pointsAwardedDate.$date  537 non-null    float64
 14  purchaseDate.$date       671 non-null    float64
dtypes: float64(7), int64(3), object(5)
memory usage: 131.3+ KB
bonusPointsEarned          575
bonusPointsEarnedReason      0
pointsEarned               510
purchasedItemCount         484
rewardsReceiptItemList       0
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
_id.$oid                     0
createDate.$date             0
dateScanned.$date            0
finishedDate.$date         551
modifyDate.$date             0
pointsAwardedDate.$date    582
purchaseDate.$date         448
dtype: int64

Some of the columns have more nulls than non-null values. This will cause a problem with any calculations done in the future. There needs to be an agreed upon way to address these cases whether they are intentional or not. Additionally, for the sake of attempting to run SQL in jupyter notebook, some of the column types will not allow for the creation of a table in our database. We have to change the type manually. Another problem that will be a problem later on is that the date columns are int and not in a date format.

In [9]:
receipts['bonusPointsEarnedReason'] = receipts['bonusPointsEarnedReason'].astype(str, errors = 'raise')
receipts['pointsEarned'] = receipts['pointsEarned'].astype(float, errors = 'raise')
receipts['rewardsReceiptItemList'] = receipts['rewardsReceiptItemList'].astype(str, errors = 'raise')
receipts['rewardsReceiptStatus'] = receipts['rewardsReceiptStatus'].astype(str, errors = 'raise')
receipts['totalSpent'] = receipts['totalSpent'].astype(float, errors = 'raise')
receipts['_id.$oid'] = receipts['_id.$oid'].astype(str, errors = 'raise')

We check to see what the values are now.

In [10]:
receipts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bonusPointsEarned        544 non-null    float64
 1   bonusPointsEarnedReason  1119 non-null   object
 2   pointsEarned             609 non-null    float64
 3   purchasedItemCount       635 non-null    float64
 4   rewardsReceiptItemList   1119 non-null   object
 5   rewardsReceiptStatus     1119 non-null   object
 6   totalSpent               684 non-null    float64
 7   userId                   1119 non-null   object
 8   _id.$oid                 1119 non-null   object
 9   createDate.$date         1119 non-null   int64
 10  dateScanned.$date        1119 non-null   int64
 11  finishedDate.$date       568 non-null    float64
 12  modifyDate.$date         1119 non-null   int64
 13  pointsAwardedDate.$date  537 non-null    float64
 14  purchaseDate.$date       671 non-null    float64
dtypes: float64(7), int64(3), object(5)
memory usage: 131.3+ KB

Use sqlite3 to create a connection to our empty database called cnn

In [11]:
cnn = sqlite3.connect("fetch.db")

In [12]:
# Allow us to query or modify the data
c = cnn.cursor()

Add our tables into the empty database we created using the connection cnn

In [13]:
users.to_sql('users', cnn, if_exists = 'replace')

In [14]:
brands.to_sql('brands', cnn, if_exists = 'replace')

In [15]:
receipts.to_sql('receipts', cnn, if_exists = 'replace')

Load sql module and connect it to our database 'fetch'

In [16]:
%load_ext sql

In [17]:
%sql sqlite:///fetch.db

Source: https://www.youtube.com/watch?v=sDY_fKe_JVw

Check to make sure it works:

In [18]:
%%sql

SELECT *
FROM brands
LIMIT 5

 * sqlite:///fetch.db
Done.

[(0, '511111019862', 'Baking', 'BAKING', 'test brand @1612366101024', 0, '601ac115be37ce2ead437551', '601ac114be37ce2ead437550', 'Cogs', None),
 (1, '511111519928', 'Beverages', 'BEVERAGES', 'Starbucks', 0, '601c5460be37ce2ead43755f', '5332f5fbe4b03c9a25efd0ba', 'Cogs', 'STARBUCKS'),
 (2, '511111819905', 'Baking', 'BAKING', 'test brand @1612366146176', 0, '601ac142be37ce2ead43755d', '601ac142be37ce2ead437559', 'Cogs', 'TEST BRANDCODE @1612366146176'),
 (3, '511111519874', 'Baking', 'BAKING', 'test brand @1612366146051', 0, '601ac142be37ce2ead43755a', '601ac142be37ce2ead437559', 'Cogs', 'TEST BRANDCODE @1612366146051'),
 (4, '511111319917', 'Candy & Sweets', 'CANDY_AND_SWEETS', 'test brand @1612366146827', 0, '601ac142be37ce2ead43755e', '5332fa12e4b03c9a25efd1e7', 'Cogs', 'TEST BRANDCODE @1612366146827')]

In [21]:
cnn.close()

The queries stop working with the syntax I am using, so, for the sake of time, I will continue on using postgreSQL instead of sqlite. The quieries will not execute, but I will explain how I got to my answer and what I want to output to look like.

# SQL Query

I will be answering the following question:

Which brand has the most transactions among users who were created within the past 6 months?

Requires information from all three tables

Step 1: join the tables together

Step 2: Add Where clause to filter for users from last 6 months, assuming that is September 1st (from the end of Febuary)

Step 3: Select the number of transactions in that time by summing the number of receipts using r._id

Step 4: Add brand name to the select statment and then add a group by clause, grouping by brand name

Step 5: Sort by transactions descending

Step 6: Limit the answer to the top 10

In [ ]:
%%sql

SELECT b.name AS Brand,
        SUM(r._id) AS transactions
FROM receipts AS r
INNER JOIN brands AS b
    ON b._id = r._id
INNER JOIN users AS u
    ON r.user_Id = u._id
WHERE u.createdDate > '2021-09-01 00:00:00[.000]'
GROUP BY brand
ORDER BY Transactions DESC
LIMIT 10